{% extends 'base.html.twig' %}

{% block content_header %}
    <h1>
        Configuration
        <small>Here you can configure the source of your projects data</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">

        </div>
    </div>
{% endblock %}
